name: Build / Release

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: "Install Node"
        uses: actions/setup-node@v3
        with:
          corepack: true
      - uses: actions/setup-python@v6
      - name: "Install distutils"
        run: "pip install setuptools"
      - name: "Install Node Packages"
        run: "yarn install"
      - name: "Setup Vite Extensions"
        run: "yarn setup-vite"
      - name: "Recompile Native Deps for Electron"
        run: "yarn workspace castmate-core run rebuild"  
      - name: "Build"
        run: "yarn run buildpublish"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VITE_APP_MIXPANEL_PROJECT_TOKEN: ${{ secrets.MIXPANEL_PROJECT_TOKEN }}
